<% @page_title = "Home" %>
<%= render 'layout' %>
<div class="container">
	<h2>How to Play?</h2>
	<h4>Play4Connect is a simple game wherein you are provided with a set of four photographs.</h4>
	<h4>You have to think of and enter one word that connects all the four photographs.</h4>
	<h2>Features</h2>
	<ul>
		<h4><li>Edit/Delete Account</li></h4></li>
		<h4><li>Leaderboard</li></h4>
		<h4><li>View previous scores</li></h4>
		<h4><li>Send e-mail challenges to friends</li></h4>
		<h4><li>Responsive User Interface</li></h4>
	</ul>
</div>