<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hello,
    <p>
      Your friend <%=@user%>, has challenged you to beat his score of <%=@score%> in Play4Connect.
    </p>
    <p>
      To signup for the site, just follow this link: <a href="<%= @url %>"><%= @url %></a>.
    </p>
    <p>Thank you and have a great day!</p>
  </body>
</html>